* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p, a {
  font-family: "Montserrat", sans-serif;
}

.goback-link {
  font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;

    transition: color 320ms ease-in-out;
}

.goback-link:hover,
.goback-link:focus {
  color: darkgrey;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}

#categories {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.categories {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}

.item {
    background-color: #f6f6fe;
    border-radius: 8px;
    padding: 16px;
    width: 392px;
}

.list-heading {
  font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.item-item {
    height: 40px;
    border: 1px solid #808080;
      border-radius: 4px;

      padding-left: 16px;

      display: flex;
      align-items: center;
      justify-content: left;

      font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
}

.item-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-left: 16px;
}

.name-input {
  width: 360px;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 4px;

    padding: 16px;
}

.name-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.name-output {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.form-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.form-input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;

    padding-left: 16px;

    margin-top: 8px;

    transition: border-color 500ms ease-in-out;
}

.form-input:focus,
.form-input:hover,
.form-input:active {
  border-color: #000;
}

.form-box {
    width: 360px;
    height: 72px;
    margin-bottom: 8px;
    margin-left: 16px;
}

.form-button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 86px;
    height: 40px;

    margin-top: 8px;
    margin-left: 16px;

    border: none;
    
    background-color: #4e75ff;

      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;

      transition: background-color 250ms ease-in-out;
}

.form-button:hover,
.form-button:focus {
  background-color: #6c8cff;
  cursor: pointer;
}

.widget {
  margin-left: 16px;
}

.pcolor {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.color {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.change-color {
    border-radius: 8px;
    padding: 8px 16px;
    width: 148px;
    height: 40px;

      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;

    background-color: #4e75ff;
    border: none;

    transition: background-color 250ms ease-in-out;
}

.change-color:hover,
.change-color:focus {
  background-color: #6c8cff;
  cursor: pointer;
}

#controls {
  background-color: #f6f6fe;
    border-radius: 8px;
    padding: 32px;
    width: 486px;
    height: 104px;

    margin-left: 16px;

    display: flex;
    flex-direction: row;
    gap: 16px;
}

.controls-input {
    border: 1px solid #808080;
    border-radius: 8px;
    padding: 8px;
    width: 150px;
    height: 40px;
}

.create-button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 120px;
    height: 40px;

      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;

    background-color: #4e75ff;
    border: none;

    transition: background-color 250ms ease-in-out;
}

.create-button:hover,
.create-button:focus {
  background-color: #6c8cff;
  cursor: pointer;
}

.destroy-button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 120px;
    height: 40px;

    font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;

    background-color: #ff4e4e;
    border: none;

    transition: background-color 250ms ease-in-out;
}

.destroy-button:hover,
.destroy-button:focus {
  background-color: #ff7070;
  cursor: pointer;
}

#boxes {
  position: absolute;
  left: 0%;
  top: 100%;
}









.main-item {
  margin-top: 100px;
}